<!DOCTYPE html>
<html lang="en">
    
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Tagmoi</title>

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/style-website.css">

    </head>

    <body>

        <header class="d-flex align-items-center justify-content-between bg-white">

            <div class="d-flex align-items-center logo">
                <img src="/assets/img/logo.png" alt="">
                <div class="language">
                    <a href="" class="active">English</a>
                    <a href="">Arabic</a>
                </div>
            </div>

            <div class="profile align-items-center">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile.png" alt="Profile" class="rounded-circle">
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" style="padding-left: 1.8vw;">
                            <span><%= member_role %></span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" style="margin-bottom: 2.08vw;">
                            <span><%= member_email %></span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/edit-member/<%= member_id %>">
                            <i class="bi bi-person"></i>
                            <span>Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>                
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>

        </header>

        <div class="row flex-nowrap">
            <div class="col-auto">
                <aside class="sidebar bg-white">
                    <p>full website</p>
                    <ul class="sidebar-nav" id="sidebar-nav">
                    
                        <li class="nav-item">
                            <a class="nav-link" data-bs-target="#header-nav" data-bs-toggle="collapse" href="#">
                                header
                            </a>
                            <ul id="header-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/header">
                                        navigation bar
                                    </a>
                                </li>
                                <li>
                                    <a href="/logo">
                                        logo
                                    </a>
                                </li>
                                <li>
                                    <a href="/announcment-bar">
                                        announcment bar
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-target="#home-nav" data-bs-toggle="collapse" href="#">
                                home
                            </a>
                            <ul id="home-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/home">
                                        home
                                    </a>
                                </li>
                                <li>
                                    <a href="/home-pageTitle">
                                        page title
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-target="#features-nav" data-bs-toggle="collapse" href="#">
                                features
                            </a>
                            <ul id="features-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/features">
                                        features
                                    </a>
                                </li>
                                <li>
                                    <a href="/features-pageTitle">
                                        page title
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-target="#shopping-nav" data-bs-toggle="collapse" href="#">
                                shopping
                            </a>
                            <ul id="shopping-nav" class="nav-content collapse active" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/web-app" class="active">
                                        web app
                                    </a>
                                </li>
                                <li>
                                    <a href="/shopping-pageTitle">
                                        page title
                                    </a>
                                </li>
                                <li>
                                    <a href="/shopping-products">
                                        products
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-target="#blog-nav" data-bs-toggle="collapse" href="#">
                                blog
                            </a>
                            <ul id="blog-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/blog">
                                        blog
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog-pageTitle">
                                        page title
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog-articls">
                                        articls
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-target="#help-nav" data-bs-toggle="collapse" href="#">
                                help
                            </a>
                            <ul id="help-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/help">
                                        help
                                    </a>
                                </li>
                                <li>
                                    <a href="/help-pageTitle">
                                        page title
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-target="#footer-nav" data-bs-toggle="collapse" href="#">
                                footer
                            </a>
                            <ul id="footer-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/footer">
                                        footer
                                    </a>
                                </li>
                                <li>
                                    <a href="/download-app">
                                        download app
                                    </a>
                                </li>
                                <li>
                                    <a href="/site-map" >
                                        site map
                                    </a>
                                </li>
                                <li>
                                    <a href="/social-media" >
                                        social media
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                    </ul>
                </aside>
            </div>
            <div class="col">
                <div class="content web-app">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <div class="page-title">
                                    <h2>shopping - web app</h2>
                                </div>
                                <div class="page-buttons d-flex">
                                    <a href="" class="btn me-2">add new external section</a>
                                    <a href="" class="btn">add new internal section</a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>

                    <div class="page-form">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 text-start">
                                    <div class="form-title">
                                        <h3>add new internal section</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form action="" method="post" class="d-flex">
                                        <input type="text" name="section_name" placeholder="Add Your Text">
                                        <button type="submit">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-form">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 text-start">
                                    <div class="form-title">
                                        <h3>add new external section</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form action="" method="post" class="d-flex">
                                        <input type="text" name="section_name" placeholder="Add Your Text">
                                        <button type="submit">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-form">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <div class="form-title">
                                        <h3>internal section</h3>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="result">
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <a href=""><i class="fa-solid fa-eye"></i></a>
                                            <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                        </div>
                                        <input type="text" name="" value="page title">
                                        <div class="d-flex">
                                            <a href=""><i class="fa-regular fa-eye"></i></a>
                                            <a href=""><i class="fa-solid fa-pen"></i></a>
                                            <a href=""><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="result">
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <a href=""><i class="fa-solid fa-eye-slash"></i></a>
                                            <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                        </div>
                                        <input type="text" name="" value="Products">
                                        <div class="d-flex">
                                            <a href=""><i class="fa-regular fa-eye"></i></a>
                                            <a href=""><i class="fa-solid fa-pen"></i></a>
                                            <a href=""><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-form">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <div class="form-title">
                                        <h3>external section</h3>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="result">
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <p>link</p>
                                        </div>
                                        <input type="text" name="external_link" value="app.tagmoi.co">
                                        <div class="d-flex">
                                            <a href=""><i class="fa-regular fa-eye"></i></a>
                                            <a href=""><i class="fa-solid fa-pen"></i></a>
                                            <a href=""><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/all.min.js"></script>
        
    </body>

</html>